

/* Chat overlay */
#chatContainer{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border: 4px solid rgb(0, 0, 0);
    background-color: rgba(53, 53, 53, 0.555);
    border-radius: 15px;
    padding: 2% 2% 2% 2%;
    width: fit-content;
    width: 80vw;
    height: 90vh ;
}
#chatsHandler{
    overflow: scroll;
    height: 80%;
    display: inline-block;
    size: fixed;
}
/* Hide scrollbar for Chrome, Safari and Opera */
#chatsHandler::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#chatsHandler {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
/* Chat top banner */
#chatPartner {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
}
/* Chat containers */
.messageDiv {
    position: relative;
    border:4px solid #000000;
    background-color: #346a96;
    border-radius: 15px;
    width: fit-content;
    block-size: fit-content;
    min-width: 20vb;
    max-width: 65vb;
    overflow-wrap: break-word;
    --r: 25px;
    /* the radius */
    --t: 30px;
    /* the size of the tail */
    margin-top: 10px;
    padding: calc(2*var(--r)/4);
    -webkit-mask:
        radial-gradient(var(--t) at var(--_d) 0, #0000 98%, #000 102%) var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
        conic-gradient(at var(--r) var(--r), #000 75%, #0000 0) calc(var(--r)/-2) calc(var(--r)/-2) padding-box,
        radial-gradient(50% 50%, #000 98%, #0000 101%) 0 0/var(--r) var(--r) space padding-box;
}
/* sent chat container */
.received{

--_d: 0%;
    border-left: var(--t) solid #ffffff00;
    margin-right: var(--t);
    place-self: start;
}
/* received chat container */
.sent {
  
        --_d: 100%;
            border-right: var(--t) solid #ffffff00;
            margin-left: var(--t);
            place-self: end;
            margin-left: auto;
            margin-right: 0;
            background-color: #1a354b;
}

/* Clear floats */
.messageDiv::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.messageDiv img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.messageDiv img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

/* Style time text */
.time-right {
    float: left;
    color: #ffffff;
}

/* Style time text */
.time-left {
    float: right;
    color: #ffffff;
}

/* Style chat text */
.txt {
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    
}
#chatName {
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid #ffffff;
    margin: 1em 0;
}
#chatBox {
    display: block;
    height: fit-content;
    border: 0;
    border-top: 5px solid #ffffff;
    margin: 1em 0;
    padding: 5px;
}

#inputText{
    position: absolute;
    height: fit-content;
    width: fit-content;
    bottom: -1vh;
    height: 3%;
    width: 75vw;
    font-size: 2vh;
    border: 1px solid #ffffff00;
    background-color: #102230;
    border-radius: 1em;
    margin: 2em 0;
    padding: 0.5vh;
    font-family: system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',+
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    color: white;
}
#sendBtn {
    position: absolute;
    float: right;
    bottom: 3vh;
    left: 78.5vw;
    margin-top: 1%;

}
#sendBtn button {
    cursor: pointer;
    font-size: 4vh;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #1a354b;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 0.2vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

#sendBtn:hover button{
    background-color: #1a354b;
}

#sendBtn:active button{
    background-color: #1a354b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}